@using EPiServer.Web.Mvc.Html
@model Foundation.Features.CustomCatalog.CatalogBaseViewModel

<h1>@Model.CurrentContent.Name</h1>

@Html.PropertyFor(m => m.CurrentContent.DemoText, new { HasContainer = false, HasChildrenContainer = false })

